In [ ]:
%load_ext autoreload

# trick for importing from different directory
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [ ]:
%autoreload 2
from wiki_forecasting.data_utils import prepare_future_data
X = prepare_future_data(1)

In [ ]:
X.head()

In [ ]:
import datetime
X["date"] = datetime.datetime(2017, 1, 1)
X

In [1]:
import pandas as pd

In [19]:
dfs = {
    i: pd.read_csv("../predictions/pred.{}.csv".format(i), header=None)
    for i in range(2,11)
}

In [20]:
panel = pd.Panel(dfs)

In [22]:
panel.iloc[:, 100, :]

,2,3,4,5,6,7,8,9,10
0,Monstar_zh.wikipedia.org_all-access_spider,Monstar_zh.wikipedia.org_all-access_spider,Monstar_zh.wikipedia.org_all-access_spider,Monstar_zh.wikipedia.org_all-access_spider,Monstar_zh.wikipedia.org_all-access_spider,Monstar_zh.wikipedia.org_all-access_spider,Monstar_zh.wikipedia.org_all-access_spider,Monstar_zh.wikipedia.org_all-access_spider,Monstar_zh.wikipedia.org_all-access_spider
1,2017-01-02,2017-01-03,2017-01-04,2017-01-05,2017-01-06,2017-01-07,2017-01-08,2017-01-09,2017-01-10
2,6.21006,6.76641,6.84094,6.99176,7.2501,6.84573,6.67482,6.62968,6.84611